<a href="https://colab.research.google.com/github/JiEunPong/JiEunPong.github.io/blob/master/ch02_part01_python_%EB%8D%B0%EC%9D%B4%ED%84%B0%2C_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. 출력

In [ ]:
print('안녕하세요')

안녕하세요

In [ ]:
print(1)

1

셀의 맨 마지막을 항상 출력합니다

In [ ]:
'안녕하세요' #문자는 print 입력 안해도 그냥 출력 됨 but 가장 마지막을 출력함

'안녕하세요'

In [ ]:
'안녕하세요'
'반갑습니다'

'반갑습니다'

이럴때는 print 구문을 붙여 주면 중간에서도 출력합니다.

In [ ]:
print('안녕하세요')
'반갑습니다'
'다음에 또 봐요'

안녕하세요

'다음에 또 봐요'

그냥 마지막에는 항상 출력이 되고 중간중간에 출력해야 할 값이 있으면 곡 print 붙여주면 된다.

##2. 변수


변수는 **데이터를 담는 그릇**이라고 생각하면 된다.

변수라는 그릇에 정수를 담을 수도 있고, 긴 글을 담을 수도 있고, file을 담을 수도 있다. 우리가 재사용 하기 쉽게 **별명**을 지정해 줬다라고 쉽게 생각하면 된다.

### 2-1. 변수의 이름

**case 1**. 알파벳(가능) / 대소문자 모두 가능 / 심지어 **한글도 가능하나 사용하는 것은 비추!**

In [ ]:
a = 1

In [ ]:
A = 1

In [ ]:
변수 = 1

In [ ]:
변수

1

**case 2**. 알파벳 + 숫자(가능)

In [ ]:
a1 = 1

**case 3.** 알파벳 + 언더바(_)(가능)

In [ ]:
a_ = 1

**case 4.** 언더바(_) + 알파벳(가능)

In [ ]:
_a = 1

**case 5.** 숫자 + 알파벳 (불가능)

In [ ]:
1a = 1

SyntaxError: ignored

**case 6.** 특수문자(불가능)

In [ ]:
* = 1

SyntaxError: ignored

**case 7.** 언더바를 제외한 특수문자(불가능)

In [ ]:
a$ = 6

SyntaxError: ignored

**case 8.** 변수와 **소문자 알파벳으로 생성**하고, 필요시 **언더바**나 **숫자를 붙이는 방식**이 일반적입니다.

In [ ]:
test = 10

In [ ]:
test01 = 20

In [ ]:
test_01 = 30

###2-2. 변수의 출력

1. print() 구문 사이에 **값을 직접 집어 넣으면**, 바로 **값이 출력**됩니다. 
2. print() 구문 사이에 **변수 이름**을 집어 넣으면, 그 값이 출력이 됩니다.

In [ ]:
# 값을 바로 집어 넣은 경우
print('test')

test

In [ ]:
a = 123

In [ ]:
print(a)

123

In [ ]:
a = '안녕하세요. 반갑습니다'

In [ ]:
print(a)

안녕하세요. 반갑습니다

##3. 데이터 타입

**데이터 type**
1. int(정수)
2. float(실수)
3. str(문자열)
4. bool(참/거짓)

###3-1. int(정수)

In [ ]:
a = 1

In [ ]:
type(a)

int

In [ ]:
# 코드에서 1은 참으로 인식, 0은 거짓으로 인식

In [ ]:
if 1:
  print('1은 참으로 취급')
else:
  print('1은 거짓부렁이')

1은 참으로 취급

In [ ]:
if 0:
  print('0은 참으로 취급')
else:
  print('0은 거짓부렁이')

0은 거짓부렁이

In [ ]:
if 123:
  print('123은 참으로 취급')
else:
  print('123은 거짓부렁이') # 값이 0이 아닌것은 다 참으로 취급됨

123은 참으로 취급

###3-2. float(실수)

In [ ]:
a = 3.14

In [ ]:
type(a)

float

In [ ]:
print(a) # ????? true가 아니라 3.14가 나와야 하는데..

True

###3-3. str 혹은 object (문자)

In [ ]:
word = '안녕하세요'

In [ ]:
word = "안녕하세요"

In [ ]:
type(word)

str

###3-4. bool (참/거짓)

In [ ]:
a = True

In [ ]:
print(a)

True

In [ ]:
1 == True

True

In [ ]:
0 == True

False

In [ ]:
123 == True # 1있으면 트루라 했지만 이건 이따가 설명

False

###3-5 아무것도 아닌 None 타입도 있다.

말 그래도 아무것도 아닌 흔히 Null 값을 넣는다고도 한다.
사전상 의미는 
* **Null: Nullify(무효화하다)**라는 뜻을 가지고 있다.
python에서는 **None**이다.

In [ ]:
a = None #데이터가 빈공간이 있을경우 넌값이 부여됨

In [ ]:
type(a)

NoneType

In [ ]:
print(a)

None

조건문에 None이라면??

In [ ]:
if None:
  print('None은 참으로 취급')
else:
  print('None은 거짓부렁이')

None은 거짓부렁이

##4. 데이터 타입(집합)

**집합 형태의 데이터 타입** 
1. list(순서 O,집합)
2. tuple(순서 O, 읽기 전용 집합)
3. set(순서 X, 중복X 집합)
4. dict(key,value로 이루어진 사전형 집합)

###4-1. list(순서가 있는 집합) 순서가 유지된다

[]형태로 표현합니다.

In [ ]:
mylist = []

In [ ]:
mylist

[]

In [ ]:
type(mylist)

list

In [ ]:
mylist = [1, 2, 3, 4, 5]

In [ ]:
mylist

[1, 2, 3, 4, 5]

####값을 추가하기

In [ ]:
mylist = []

In [ ]:
#mylist. '.'옆에는 메서드 나타남. 괄호 안에는 값 넣어줌

In [ ]:
mylist.append(1) #append 붙이다

In [ ]:
mylist

[1]

In [ ]:
mylist.append(2)
mylist.append(3)

In [ ]:
mylist

[1, 2, 3]

####값을 제거하기

In [ ]:
mylist

[1, 2, 3, 4, 5, 1, 2, 3]

In [ ]:
mylist.remove(1)

In [ ]:
mylist

[2, 3, 4, 5, 2, 3]

In [ ]:
mylist.remove(1)

ValueError: ignored

####여러 값들이 포함되어 있을 때 제거 순서

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
mylist.append(1)
mylist.append(2)
mylist.append(3)

In [ ]:
mylist

[1, 2, 3, 1, 2, 3]

In [ ]:
mylist.remove(1)

In [ ]:
mylist

[2, 3, 1, 2, 3]

In [ ]:
mylist.remove(1)

In [ ]:
mylist

[2, 3, 2, 3]

In [ ]:
mylist.remove(1)

ValueError: ignored

####인덱싱(indexing)-> 색인

In [ ]:
mylist = [1, 2, 3, 4]

인덱스는 **0번 부터 시작** 합니다. !!!중요중요!!!!!

In [ ]:
mylist[0]

1

In [ ]:
mylist[3]

4

In [ ]:
mylist[4]

IndexError: ignored

In [ ]:
mylist[-1]

In [ ]:
mtlist[-5] #순서에서 벗어난다

####인덱스로 접근하여 값 바꾸기

In [ ]:
mylist

[1, 2, 3, 4]

In [ ]:
mylist[0]

1

In [ ]:
mylist[0] = 100 #마이리스트에 0번째에 있는거를 100으로 바꿈

In [ ]:
mylist

[100, 2, 3, 4]

####전체 길이 (사이즈)알아내기

In [ ]:
len(mylist) #length

4

##4-2. tuple (순서가 있는 집합, 읽기 전용)

()로 표현합니다

In [ ]:
mytuple = (1, 2, 3, 4, 5)

In [ ]:
mytuple.append(1) #읽기전용이기 때문에 수정 안됨!

AttributeError: ignored

In [ ]:
mytuple.remove(1)

AttributeError: ignored

In [ ]:
mytuple[0] = 1

TypeError: ignored

###길이 파악하기

In [ ]:
len(mytuple)

5

In [ ]:
mytuple #튜플은 꺾괄호 아니라 부드러운 괄호

(1, 2, 3, 4, 5)

###set (순서 X, 중복 X)

In [ ]:
myset = set()

In [ ]:
type(myset)

set

In [ ]:
myset.add(1)
myset.add(2)
myset.add(3)

In [ ]:
myset

{1, 2, 3}

In [ ]:
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(1)
myset.add(2)
myset.add(3)

In [ ]:
myset

{1, 2, 3}

In [ ]:
myset.add(4)

In [ ]:
myset

{1, 2, 3, 4}

##4-3. dict (사전형 집합, key와 value 쌍)

{}로 표현함

In [ ]:
mydict = dict()

In [ ]:
mydict

{}

In [ ]:
type(mydict)

dict

###값을 추가하기

In [ ]:
mydict = dict()

In [ ]:
mydict['apple'] = 123 #apple 이라는 키에는 123을 할당해 줘!

In [ ]:
mydict['apple'] #마이딕트에 있는 키를 입력하면 값이 나옴

123

In [ ]:
mydict[0] = 2 #문자형 키 뿐만 아니라 정수형 키도 가능함

In [ ]:
mydict[0]

2

mydict의 키는 **문자형 / 숫자형**이 혼용 가능함

In [ ]:
mydict # ':'을 기준으로 왼쪽에는 키 오른쪽에는 값이 들어감

{0: 2, 'apple': 123}

float(실수)도 키로써 입력이 가능합니다.

In [ ]:
mydict[3.14] = 1

In [ ]:
mydict

{0: 2, 3.14: 1, 'apple': 123}

###값을 바꾸기

In [ ]:
mydict['apple'] = 'byebye' #키를 가져와서 값을 입력해 주면 됨

In [ ]:
mydict

{0: 2, 3.14: 1, 'apple': 'byebye'}

###길이 파악하기

In [ ]:
len(mydict)

3